Xft.dpi:        100
Xft.autohint: 1
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xcursor.size: 35


/* ST Settings */

/* st.alpha: 0.90 */
st.alphaOffset: 0.3
*.font: JetBrainsMono Nerd Font:style:medium:pixelsize=18
st.termname: st-256color
st.borderpx: 5

/* DWM Settings */

dwm.borderpx: 2
dwm.barpadpx: 3
dwm.acc: #7aa2f7
dwm.hgl: #668ee3
dwm.fgr: #c0caf5
dwm.bgr: #1a1b26
dwm.lgr: #15161E
dwm.dgr: #1a1b26


/* settings */

! TokyoNight colors for Xresources

/*  *background: #1a1b26 */
/*  *foreground: #c0caf5 */
/*                       */
/*  *color0: #15161E     */
/*  *color1: #f7768e     */
/*  *color2: #9ece6a     */
/*  *color3: #e0af68     */
/*  *color4: #7aa2f7     */
/*  *color5: #bb9af7     */
/*  *color6: #7dcfff     */
/*  *color7: #a9b1d6     */
/*                       */
/*  *color8: #414868     */
/*  *color9: #f7768e     */
/*  *color10: #9ece6a    */
/*  *color11: #e0af68    */
/*  *color12: #7aa2f7    */
/*  *color13: #bb9af7    */
/*  *color14: #7dcfff    */
/*  *color15: #c0caf5    */

/* Catpuccin colorscheme */

*background: #1E1E2E
*foreground: #D9E0EE

! Gray
*color0: #6E6C7E
*color8: #988BA2

! Red
*color1: #F28FAD
*color9: #F28FAD

! Green
*color2: #ABE9B3
*color10: #ABE9B3

! Yellow
*color3: #FAE3B0
*color11:  #FAE3B0

! Blue
*color4: #96CDFB
*color12: #96CDFB

! Maguve
*color5: #DDB6F2
*color13: #DDB6F2

! Pink
*color6: #F5C2E7
*color14: #F5C2E7

! Whites
*color7: #C3BAC6
*color15: #D9E0EE
